<div class="col-xs-6">
	<div class="todo-head">
		<h1>To Do</h1>
	</div>

	<ul><% @todos.each do | todo | %>
	<li><%= render 'form', :todo => todo %></li>
	<% end %>
	<li><%= render 'form', :todo => Todo.new %></li>
	</ul>
</div>