<div class="col-xs-6">
	<div class="todo-head">
		<h1>To Do</h1>
	</div>
	
	<ul>
	<li><%= render 'form', :todo => Todo.new %></li>
	<% @todos.each do | todo | %>
	<li><%= render 'form', :todo => todo %></li>
	<% end %>
	</ul>

	<ul class="digg_pagination">
		<li><%= will_paginate @posts %></li>
	</ul>
</div>