// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
	list-style: none;
	margin: 0;
}

input[type="text"] {
	width: 444px;
	border: none;
	margin-right: 15px;
	padding: 2px;
}
input[type="text"]:hover {
	background-color: #EEE;
}

p {
	font-size: 1.125em;
}


